*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
.dialog-container{
  width:350px;
  height:400px;
  background: #e7e7e7;
  padding:15px 25px 40px 25px;
  overflow-y:auto;
}
h6{
  margin-top:10px;
}
.buttons{
  width:100%;
  height:35px;
  margin-top:10px;
  display:flex;
  justify-content:space-between;
}
