*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
h2{
  margin-bottom:5px;
}
.list-reservations{
  text-align:center;
  width: 95%;
  height: 480px;
  overflow-y: auto;
  padding:8px 0px;
  display:flex;
  flex-direction:column;
  row-gap:8px;
}
.card-reservation{
  width:90%;
  border-radius:5px;
  background: #ececec;
  padding:10px 20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin:auto;
  row-gap:12px;
  box-shadow: -1px 2px 14px 1px rgba(94,94,94,0.88);
  -webkit-box-shadow: -1px 2px 14px 1px rgba(94,94,94,0.88);
  -moz-box-shadow: -1px 2px 14px 1px rgba(94,94,94,0.88);
}
.column-card{
  width:30%;
  height:155px;
}
.column-card img{
  width:100%;
  height:100%;
}
.image-container{
  position:relative;
}
.footer-image{
  position:absolute;
  bottom:0;
  background:black;
  width:100%;
  height:30px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#f2f2f2;
}
.column-card h5{
  font-size:0.8rem;
}
.client-profile{
  display:flex;
  justify-content:center;
  flex-direction:column;
  row-gap:2px;
}
.client-profile img{
  width:60px;
  height:60px;
  border-radius:50%;
  position:relative;
}
.client-profile i{
  color:#d9a30d;
}
.client-profile button{
  height:20px;
  width:70%;
  font-size:0.7rem;
}
.footer-card{
  width:100%;
  height:35px;
  display:flex;
  justify-content:flex-start;
  column-gap:10px;
}
/*button{
  height:100%
}*/
